<ion-header>
   <samaheader></samaheader>
</ion-header>
 
<ion-content>
    
    <div class="slidescontainer">

       <ion-slides>

        <ion-slide (click)="gotoshop(une)" *ngFor="let une of unes" [ngStyle]="{'background-image': une.cover , 'background-size':'cover', 'background-repeat':'no-repeat'}" >
            
          <h3 class="front" style="position: absolute;top: 10px;left: 6px;text-shadow: 1px 1px gray; color: #fff;">{{une.name}}</h3>
          <span style="position: absolute;bottom: 6px; right: 10px;color: #fff;text-shadow: 1px 1px gray;" class="caps">{{une.city}}</span>
        </ion-slide>
 
       </ion-slides>

    </div>

    <div class="searchcontainer" style="position: relative;">

        <ion-searchbar [(ngModel)]="searchQuery" placeholder="Que recherchez-vous ?" (ionInput)="getItems($event)">
        </ion-searchbar> 
        <button (click)="getitems()" ion-button icon-only style="position: absolute;top: 7px;right: 9px;" >
          <ion-icon name="search"></ion-icon>

        </button>

        <ion-list style="max-height: 135px;overflow-y: scroll;">
          <ion-item *ngFor="let item of tags" (click)="updateQuery(item)">
            {{ item }}
          </ion-item>
        </ion-list>
        
    </div>
 
     <div class="listcontainer">

        <ion-grid  no-padding>
          <ion-row  no-padding>
            
            <ion-col text-center *ngFor="let categ of categories;let i = index" col-4 no-padding (click)="getcategshop(categ)" >
                
                  <div style="width: 90%; margin:5%;border-radius: 4px; border:solid 1px transparent; height: 90px;text-align: center; background-size: cover;">
                     <img src="../assets/shop{{i+1}}.png" alt="" style="height: 100%;"> 
                  </div>
                  <p style="margin:0px;color: #535151; font-family: 'front'; letter-spacing: 1px;"> {{categ.name}} </p>
                  
                
            </ion-col> 
           

          </ion-row>
        </ion-grid>

    </div>
 
</ion-content>
