
.bloc_container
{
  width: 100%;
  height: 50px;
  background-color: #f9f9f9;
}
.samashophome_logo
{
  width: 200px;height: auto;
  margin-top: 20px;
}

.canvas-container
{
  width:100%;
  height:90%;
}



















@font-face {
  font-family: "caps";
  src: url("../assets/fonts/Capsuula.ttf");
  /*font-weight: 100;*/
}

@font-face {
  font-family: "front";
  src: url("../assets/fonts/front.otf");
  /*font-weight: 100;*/
}

